
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proucts</title>
</head>
<body>
    <div>
        <p>Products</p>
        <input class="btn" id="request" value="Запрос" onclick="btnClick()" type="button">
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

@section scripts{
    <script>
        function btnClick() {
            console.log("Click btn");
        }
        
    </script>
}